page-login {

  .navbar{
    color: black;
  }

  .content{
    background-color: #161f2d;
  }

  .eyeIcon{
    font-size: 25px;
  }

  .item{
    background-color: rgba(0, 0, 0, 0);
  }

  .parag{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 16px;
  }

  .signupButton{
    color: #ffd700;
    background-color: black;
    width: 60%;
  }

  .passwordButton{
    color: white;
    width: 98%;
  }

  .col1{
    text-align: center;
  }
}
