<ion-header>

  <ion-navbar color="primary">
    <ion-title>FYZZ</ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content">
  <div class="divImage">
    <ion-slides class="slideTestR" [pager]="true" [slidesPerView]="1">
      <ion-slide class="slideImageR">
        <img class="image-resto" src="{{photo1}}" alt="">
      </ion-slide>
      <ion-slide>
        <img class="image-resto" src="{{photo2}}" alt="">
      </ion-slide>
      <ion-slide>
        <img class="image-resto" src="{{photo3}}" alt="">
      </ion-slide>
    </ion-slides>
  </div>
  <div padding *ngFor = "let info of restoInfoObs | async">
    <!--<ion-fab right class="fab_info">
      <button class="fab_button_info" ion-fab mini>
        <ion-icon name="information-circle" class="icon-info"></ion-icon>
      </button>

      <ion-fab-list class="fab_list" side="top">

        <a button *ngIf="info.Link.Fb != ''" class="fab-fb" href="{{info.Link.Fb}}" ion-fab>
          <ion-icon name="logo-facebook" class="fab-fb-icon"></ion-icon>
        </a>

        <a button *ngIf="info.Link.Insta != ''" class="fab-insta" href="{{info.Link.Insta}}" ion-fab>
          <ion-icon class="fab-insta-icon" name="logo-instagram"></ion-icon>
        </a>

        <a button *ngIf="info.Link.Web != ''" class="fab-web" href="{{info.Link.Web}}" ion-fab>
          <ion-icon class="fab-web-icon" name="ios-globe-outline"></ion-icon>
        </a>

      </ion-fab-list>
    </ion-fab>-->
    <ion-grid>
      <ion-row class="row1">
        <ion-col class="col11">
          <div class="divName"> {{info.Name}} </div>
            <div class="div1"> {{info.Address}}, {{info.NPA}} {{info.City}}</div>
        </ion-col>
        <ion-col class="col12" col-1>
          <a href="tel:{{info.Tel}}"><ion-icon class="iconTel" name="md-call"></ion-icon></a>
        </ion-col>
        <!--<ion-col class="col13" col-2>
        </ion-col>-->
      </ion-row>

      <ion-row class="rowLink">
        <ion-col class="colFb" col-3 *ngIf="info.Link.Fb != ''">
          <a button class="fab-fb" href="{{info.Link.Fb}}" ion-fab>
            <ion-icon name="logo-facebook" class="fab-fb-icon"></ion-icon>
          </a>
        </ion-col>
        <ion-col class="colInsta" col-3 *ngIf="info.Link.Insta != ''">
          <a button class="fab-insta" href="{{info.Link.Insta}}" ion-fab>
            <ion-icon class="fab-insta-icon" name="logo-instagram"></ion-icon>
          </a>
        </ion-col>
        <ion-col class="colWeb" col-3 *ngIf="info.Link.Web != ''">
          <a button class="fab-web" href="{{info.Link.Web}}" ion-fab>
            <ion-icon class="fab-web-icon" name="ios-globe-outline"></ion-icon>
          </a>
        </ion-col>
      </ion-row>

      <ion-row class="row2">
        <ion-col>
          <h2 class="h2"> {{ 'ABR.DESCRIPTION' | translate }} </h2>
          <div class="div2" *ngIf="this.userLang == 'fr'"> {{info.Description_fr}} </div>
          <div class="div2" *ngIf="this.userLang == 'en'"> {{info.Description_en}} </div>
          <div class="div2" *ngIf="this.userLang == 'de'"> {{info.Description_de}} </div>
          <div class="div2" *ngIf="this.userLang == 'it'"> {{info.Description_it}} </div>
        </ion-col>
      </ion-row>

      <ion-row class="row3">
        <ion-col>
          <h3 class="h3"> {{ 'ABR.CUISINETYPE' | translate }} </h3>
            <div class="div3" *ngIf="this.userLang == 'fr'"> {{info.Food_fr}} </div>
            <div class="div3" *ngIf="this.userLang == 'en'"> {{info.Food_en}} </div>
            <div class="div3" *ngIf="this.userLang == 'de'"> {{info.Food_de}} </div>
            <div class="div3" *ngIf="this.userLang == 'it'"> {{info.Food_it}} </div>
        </ion-col>
      </ion-row>

      <ion-row class="row4">
        <ion-col>
          <h2 class="drink"> {{ 'ABR.DRINKS' | translate }} </h2>
            <div class="div2" *ngIf="this.userLang == 'fr'"> {{info.Drink_fr}} </div>
            <div class="div2" *ngIf="this.userLang == 'en'"> {{info.Drink_en}} </div>
            <div class="div2" *ngIf="this.userLang == 'de'"> {{info.Drink_de}} </div>
            <div class="div2" *ngIf="this.userLang == 'it'"> {{info.Drink_it}} </div>
        </ion-col>
      </ion-row>

      <ion-row class="row5">
        <ion-col>
          <h4 class="h4"> {{ 'ABR.HOURS' | translate }} </h4>
          <ion-grid>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.MONDAY' | translate }} </ion-col>
              <ion-col> {{info.Lundi}}</ion-col>
            </ion-row>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.TUESDAY' | translate }} </ion-col>
              <ion-col> {{info.Mardi}}</ion-col>
            </ion-row>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.WEDNESDAY' | translate }} </ion-col>
              <ion-col> {{info.Mercredi}}</ion-col>
            </ion-row>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.THURSDAY' | translate }} </ion-col>
              <ion-col> {{info.Jeudi}}</ion-col>
            </ion-row>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.FRIDAY' | translate }} </ion-col>
              <ion-col> {{info.Vendredi}}</ion-col>
            </ion-row>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.SATURDAY' | translate }} </ion-col>
              <ion-col> {{info.Samedi}}</ion-col>
            </ion-row>
            <ion-row class="div4">
              <ion-col> {{ 'ABR.SUNDAY' | translate }} </ion-col>
              <ion-col> {{info.Dimanche}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

      <!-- <ion-row class="row5" *ngIf="payment_status != 'active' && payment_status != 'pastDue'">
        <ion-col class="col51">
          <div>
            <p class="restoAnnonce"> {{ 'ABR.DRINKANNOUNCE' | translate }} </p>
          </div>
          <button class="scan-button" ion-button icon-start (click)="openScanner()">
            <ion-icon class="iconScan" name="md-qr-scanner"></ion-icon>
            {{ 'ABR.DRINKSBT' | translate }}
          </button>
        </ion-col>
      </ion-row> -->

      <ion-row class="row5" *ngIf="login == true && networkConnection == true && payment_status == 'active'">
        <ion-col class="col51">
          <div>
            <p class="restoAnnonce"> {{ 'ABR.DRINKANNOUNCE' | translate }} </p>
          </div>
          <button [disabled]="disableButton" class="scan-button" ion-button icon-start (click)="openScanner()">
            <ion-icon class="iconScan" name="md-qr-scanner"></ion-icon>
            {{ 'ABR.DRINKSBT' | translate }}
          </button>
          <p class="unSubText" *ngIf="scanText == 'scan_disable'">{{ 'ABR.DRINKSBTDIS' | translate }}</p>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="login != true" class="row5">
        <ion-col class="col51">
          <div>
            <p class="restoSubAct"> {{ 'ABR.SUBSCRIBE' | translate }} </p>
          </div>
          <button class="inscription-button" ion-button icon-start (click)="openSignUp()">
            <ion-icon class="iconScan" name="person"></ion-icon>
            {{ 'ABR.SUBTN' | translate }}
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="login && payment_status != 'active' && payment_status != 'pastDue'" class="row5">
        <ion-col class="col51">
          <div>
            <p class="restoSubAct"> Si tu veux profiter d'une boisson gratuite par jour abonne-toi! </p>
          </div>
          <button class="paiement-button" ion-button icon-start (click)="openAboPage()">
            {{ 'ABR.ACTIVATEBTN' | translate }}
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="row5" *ngIf="payment_status == 'pastDue'">
        <ion-col class="col51">
          <div class="divSubInactive">
              <p class="subText">{{ 'ABR.INACTSUB' | translate }}</p>
          </div>
          <div>
              <p class="unSubText">{{ 'ABR.INACTSUBTEXT' | translate }}<a class="unSubText" href="mailto:info@fyzz.ch">{{ 'ABR.INACTSUBTEXTCONTACT' | translate }}</a></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
