page-abonnement {

  .contentAbo{
    background-color: white;
  }

  .cardAbo{
    background-color: #161f2d;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 35px;
    border-width: 8px;
    border-color: black;
    border-style: solid;

  }

  .cardTitle{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Manjari-Thin';
  }

  .cardContent{
    font-family: 'Manjari-Thin';
    font-size: 16px;
  }

  .textNotif{
    color: black;
  }

  .parag{
    color: black;
    line-height: 1.2em;
    text-align: justify;
    font-family: 'Manjari-Thin';
    font-size: 18px;
  }
  .parag1{
    text-decoration: underline;
  }
  h5{
    color: red;
    display: inline;
  }
}
