<!--
  Generated template for the AbonnementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{ 'ABO.TITLE' | translate }}
    </ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="contentAbo">
  <div class="parag" padding>
        <p class="parag1">{{ 'ABO.PARAG1' | translate }}</p>
        {{ 'ABO.PARAG2' | translate }}<h5>{{ 'ABO.PARAG3' | translate }}</h5>{{ 'ABO.PARAG4' | translate }}
        {{ 'ABO.PARAG5' | translate }}<a class="email" href="mailto:info@fyzz.ch"> info@fyzz.ch. </a>
  </div>
  <ion-grid>
    <ion-card class="cardAbo" (click)="stripeSubscribe1290()">
      <ion-card-content>
        <ion-card-title class="cardTitle">
          {{ 'ABO.TITLEFYZZ' | translate }}<br/>{{ 'ABO.TITLE1290' | translate }}
        </ion-card-title>
        <p class="cardContent">
          {{ 'ABO.TEXT1290' | translate }}
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="cardAbo" (click)="stripeSubscribe3490()">
      <ion-card-content>
        <ion-card-title class="cardTitle">
          {{ 'ABO.TITLEFYZZ' | translate }}<br/>{{ 'ABO.TITLE3490' | translate }}
        </ion-card-title>
        <p class="cardContent">
          {{ 'ABO.TEXT3490' | translate }}
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="cardAbo" (click)="stripeSubscribe5990()">
      <ion-card-content>
        <ion-card-title class="cardTitle">
          {{ 'ABO.TITLEFYZZ' | translate }}<br/>{{ 'ABO.TITLE5990' | translate }}
        </ion-card-title>
        <p class="cardContent">
          {{ 'ABO.TEXT5990' | translate }}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>
