page-bar {

  // ion-header {
  //   &.custom-view::after {
  //     background-image: none;
  //   }
  // }
  // .custom-view {
  //   scroll-content {
  //     margin-top: 0px !important;
  //     padding-top: 0px !important;
  //   }
  //   .toolbar-background {
  //     background: transparent !important;
  //     border-color: transparent !important;
  //   }
  // }
  .content{
    background-color: #161f2d;
  }

  .fab_info{
    margin-bottom: 50px;
  }
  .fab_button_info{
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .icon-info{
    font-size: 33px;
  }

  .fab_list{
    padding-bottom: 10px;
  }

  .divImage{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display:block;
    width: 100%;
    height: 175px;
  }

  .slideTestB{
    background-color: #161f2d;
  }

  .slideImageB{
    background-color: #161f2d;
  }

  .image-bar{
    background-color: #161f2d;
    width: 100%;
    height: auto;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 0.2;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
  }


  .row1{
    padding-bottom: 10px;
  }

  .col12{
    text-align: right;
  }

  .col13{
    text-align: right;
  }

  .iconWeb{
    font-size: 25px;
    color: white;
  }

  .iconTel{
    padding-top: 7px;
    font-size: 30px;
    color: white;
  }

  .divName{
    font-size: 25px;
  }

  .div1{
    color: #b7b7b7;
    font-size: 15px;
  }

  .rowLink{
    padding-bottom: 10px;
  }
  .fab-fb{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .fab-fb-icon{
    font-size: 38px;
    color: white;
  }
  .fab-insta{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .fab-insta-icon{
    font-size: 38px;
    color: white;
  }

  .fab-web{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  .fab-web-icon{
    font-size: 38px;
    color: white;
  }


  .row2{
    padding-bottom: 20px;
  }
  .h2{
    font-size: 20px;
  }
  .div2{
    font-size: 15px;
  }


  .row3{
    padding-bottom: 20px;
  }
  .h3{
    font-size: 20px;
  }
  .div3{
    font-size: 15px;
  }


  .row4{
    padding-bottom: 20px;
  }
  .h4{
    font-size: 20px;
  }
  .div4{
    font-size: 15px;
  }


  .row5{
  }

  .col51{
    text-align: center;
  }

  .barAnnonce{
    font-size: 15px;
    color: #03bfbf;
  }

  .drink{
    color: #03bfbf;
  }

  .scan-button{
    width: 80%;
    height: 50px;
    color : black;
    background-color: #03bfbf;
    //background-color: #00e1ff;
    border-radius: 10px;
  }

  .iconScan{
    color: black;
    font-size: 50px;
  }

  .barSubAct{
    font-size: 15px;
    color: #ffd700;
  }

  .inscritpion-button{
    width: 80%;
    height: 50px;
    color : black;
    background-color: #ffd700;
    border-radius: 10px;
  }

  .iconLogin{
    color: black;
    font-size: 35px;
  }

  .paiement-button{
    width: 80%;
    height: 50px;
    color : black;
    background-color: #ffd700;
    //background-color: #ED6F06;
    border-radius: 10px;
  }

  .divSubInactive{
    background-color: red;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    padding-bottom: 40px;
  }

  .subText{
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
  }

  .unSubText{
    font-size: 15px;
    color: #ED0606;
  }

  ion-header button, .backButton{
    z-index: 1;
  }
}
