<ion-header>
  <ion-navbar color="primary">
    <ion-title class="contact-title">
      {{ 'CONTACT.TITLE' | translate }}
    </ion-title>
    <ion-buttons right>
      <button class="card" *ngIf="payment_status != ''" ion-button icon-only (click)="UpdateCard()">
        <ion-icon name="ios-card"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out" class="logout"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="fond" no-bounce>
  <!--<div class="welcomeTextDiv">
    <p class="welcomeText"> {{ 'CONTACT.WELCOME' | translate }} </p>
  </div>-->

  <div class="divUser" *ngFor="let userInfo of userData">
    <ion-grid padding>
      <ion-row>
        <ion-col>
          <h2 class="bonjour"> {{ 'CONTACT.HELLO' | translate }} {{userInfo.firstname}} {{userInfo.lastname}} ! </h2>
            <div class="divInfo"> {{ 'CONTACT.INFO' | translate }} </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list class="listUser" >
      <ion-item class="item3">
        {{ 'CONTACT.BIRTHDATE' | translate }} {{userInfo.birthdate | date: 'dd.MM.yyyy'}}
      </ion-item>
      <ion-item class="item4">
        Email : {{userInfo.email}}
      </ion-item>
      <ion-item class="item4">
       NPA : {{userInfo.npa}}
      </ion-item>
      <ion-item class="item4">
        {{ 'CONTACT.CITY' | translate }} {{userInfo.city}}
      </ion-item>
    </ion-list>


<!--------------------Button PAYMENT ABO active---------------->
    <ion-grid class="gridButton">
      <ion-row class="rowSubActive" *ngIf="payment_status == 'active'">
        <ion-col class="colSubActive">
          <div class="divSubActive">
              <p class="subText">{{ 'CONTACT.ABOACT' | translate }}</p>
          </div>
          <div>
              <p class="unSubText">{{ 'CONTACT.ABOACTEXT' | translate }}<a class="unSubText" href="mailto:info@fyzz.ch">{{ 'CONTACT.ABOACTCONTACT' | translate }}</a></p>
          </div>
        </ion-col>
      </ion-row>

<!--------------------Button FREE ABO active---------------->
      <ion-row class="rowSubActive" *ngIf="freeAbo_status == true">
        <ion-col class="colSubActive">
          <div class="divSubActive">
              <p class="subText">{{ 'CONTACT.ABOFREEACT' | translate }}</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="fyzzButton" *ngIf="payment_status == ''">
        <ion-col class="">
          <div>
              <p class="unSubText">{{ 'CONTACT.ABOCHANGE1' | translate }} {{userInfo.firstname}} {{ 'CONTACT.ABOCHANGE2' | translate }}</p>
          </div>
          <ion-buttons name="subscription" class="subButton">
            <button class="subPay" (click)="openAboPage()">
              {{ 'CONTACT.ABOCHOOSE' | translate }}
            </button>
          </ion-buttons>
          <!--<div>
              <p class="unSubText">{{ 'CONTACT.USERP1' | translate }} {{501 - count}} personne(s) {{ 'CONTACT.USERP3' | translate }}</p>
          </div>-->
        </ion-col>
      </ion-row>


<!--------------------------CARD UPDATE ------------------>

      <!-- <ion-row class="fyzzButton" *ngIf="payment_status != ''">
        <ion-col>
          <ion-buttons name="subscription" class="subButton">
            <button class="subPay" (click)="UpdateCard()">
              Mets à jour tes infos de paiement
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row> -->

<!--------------------------------------------------------->


      <ion-row class="rowSubActive" *ngIf="payment_status == 'pastDue'">
        <ion-col class="colSubActive">
          <div class="divSubInactive">
              <p class="subText">{{ 'CONTACT.ABOINACT' | translate }}</p>
          </div>
          <div>
              <p class="unSubText">{{ 'CONTACT.ABOINACTEXT' | translate }}<a class="unSubText" href="mailto:info@fyzz.ch">{{ 'CONTACT.ABOINACTCONTACT' | translate }}</a></p>
          </div>
        </ion-col>
      </ion-row>

      <!--<ion-row class="fyzzButton" *ngIf="payment_status == '' && count <= 100">
        <ion-col>
          <ion-buttons name="subscription" class="subButton">
            <button class="subPay" (click)="stripeSubscribe()">
              FYZZ 9.90 {{ 'CONTACT.CURRENCY' | translate }}
            </button>
          </ion-buttons>
          <div>
              <p class="unSubText">{{ 'CONTACT.USERP1' | translate }} {{101 - count}} {{ 'CONTACT.USERP2' | translate }}</p>
          </div>
        </ion-col>
      </ion-row>-->


      <!--<ion-row class="fyzzButton" *ngIf="payment_status == '' && count > 500">
        <ion-col>
          <ion-buttons name="subscription" class="subButton">
            <button class="subPay" (click)="stripeSubscribe()">
              FYZZ 19.90 {{ 'CONTACT.CURRENCY' | translate }}
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>-->
    </ion-grid>

  </div>
</ion-content>
