<ion-header>
  <ion-navbar color = "primary">
    <ion-title>FYZZ</ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="content" no-bounce>
  <div class="divImage" no-padding>
    <img class="image" src="assets/imgs/Vicki1.jpg">
  </div>

  <div class="div1">
    <h2>{{ 'WELCOME.HELLO' | translate }}</h2>
  </div>
  <div class="parag" padding>
        {{ 'WELCOME.PARAG1' | translate }}<br/><br/>
        {{ 'WELCOME.PARAG2' | translate }}<br/>
        {{ 'WELCOME.COFFEE' | translate }}<br/>
        {{ 'WELCOME.BEER' | translate }}<br/>
        {{ 'WELCOME.MINERAL' | translate }}<br/><br/>
        {{ 'WELCOME.ADVANTAGE' | translate }}<br/><br/>
        {{ 'WELCOME.PARAG3' | translate }}<h5>{{ 'WELCOME.PARAG4' | translate }}</h5>{{ 'WELCOME.PARAG5' | translate }}<br/>
        {{ 'WELCOME.PARAG6' | translate }}<a class="email" href="mailto:info@fyzz.ch"> info@fyzz.ch </a>.<br/>
        {{ 'WELCOME.PARAG7' | translate }}<br/><br/>
        {{ 'WELCOME.PARAG8' | translate }}
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="divLogin">
          <ion-buttons name="login" >
            <button class="buttonLogin" (click)="openLogin()">
              {{ 'WELCOME.GO' | translate }}
            </button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
