page-home{

  .ion-navbar{
    background-color: #23383d;
  }

  .content{
    background-color: #161f2d;
  }

  .map-button{
    width: 100%;
    height: 200%;
    margin:auto;
    background-color: #3a3a3a;
  }

  .inscription-button{
    height: 8%;
    width: 80%;
    margin:auto;
    margin-top:67vh;
    background-color: #00e1ff;
  }

  .image{
    width: 100%;
    height: 100%;
  }

  .div1{
    font-family: 'Manjari-Thin';
    text-align: center;
  }

  h2{
    font-size: 40px;
  }

  h5{
    color: #ffd700;
    display: inline;
  }

  .parag{
    line-height: 1.2em;
    text-align: justify;
    font-family: 'Manjari-Thin';
    font-size: 18px;
  }

  .email{
    color: grey;
  }

  .divLogin{
    text-align: center;
    height: 50px;
  }
  .buttonLogin{
    width: 80%;
    height: 40px;
    border-radius: 4px;
    color: black;
    background-color: #ffd700;
    font-size: 20px;
    font-weight: bold;
  }
}
