page-settings {
  .content{
    background-color: #161f2d;
  }

  .balise{
    background-color: #161f2d;
  }


  .ion-title{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .popover-viewport{
    background-color:  #404b5b;
  }

  .radio .radio-checked{
    border-color: #ffd700;
    .radio-inner{
      background-color: #ffd700 !important;
    }
  }

  ion-header button, .backButton{
    z-index: 1;
  }
}

ion-select {
  .select-icon {
    .select-icon-inner {
       color : #ffd700 !important;
    }
  }
}

.item-radio-checked.item ion-label {
  color: #ffd700 !important;
}

.item-radio {
  background-color: #404b5b;
}

.item-radio-checked.item {
  .radio-icon{
    border-color: #ffd700;
  }
  .radio-inner{
    background-color: #ffd700;
  }
}
