<ion-header>
  <ion-navbar color="primary">
    <ion-title class="settings-title">FYZZ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">


  <ion-list>
    <ion-item class="balise">
      <ion-label style="color: white;">{{ 'SETTINGS.LANGUE' | translate }}</ion-label>
      <ion-select interface="popover" [(ngModel)]="language" (ionBlur)="saveSettings()" class="popover-select">
        <ion-option value="fr">{{ 'SETTINGS.FRENCH' | translate }}</ion-option>
        <ion-option value="de">{{ 'SETTINGS.ALLEMAND' | translate }}</ion-option>
        <ion-option value="en">{{ 'SETTINGS.ANGLAIS' | translate }}</ion-option>
        <ion-option value="it">{{ 'SETTINGS.ITALIEN' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <a class="balise" ion-item href="https://www.fyzz.ch/a-propos">
      {{ 'SETTINGS.ABOUT' | translate }}
    </a>
    <a class="balise" ion-item href="https://www.fyzz.ch/politique-de-confidentialite">
      {{ 'SETTINGS.CONFIDENTIAL' | translate }}
    </a>
    <a class="balise" ion-item href="https://fyzz.ch/conditions-generales-de-vente/">
      {{ 'SETTINGS.TERMSANDCO' | translate }}
    </a>
    <a class="balise" ion-item href="mailto:info@fyzz.ch">
      {{ 'SETTINGS.CONTACT' | translate }}
    </a>
    <a ion-item href="https://www.instagram.com/fyzz.app/">
      Instagram
      <ion-icon name="logo-instagram" item-right></ion-icon>
    </a>
    <a ion-item href="https://www.facebook.com/fyzzapp/?modal=admin_todo_tour">
      Facebook
      <ion-icon name="logo-facebook" item-right></ion-icon>
    </a>
  </ion-list>
</ion-content>
