<ion-header>
  <ion-navbar color="primary">
    <ion-title>BARS</ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
<ion-searchbar
  [(ngModel)]="searchTerm"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="setFilteredItems()"
  (ionCancel)="onCancel($event)"
  placeholder="{{ 'LSBARRESTOADV.SEARCH' | translate }}">
</ion-searchbar>
<!--
<ion-list *ngIf="searching" class="list-style">
  <ion-item class="button-bar" color="grey-dark" ion-item *ngFor="let barInfo of array2" (click)="openBar(barInfo)">
    <ion-avatar item-start >
      <img src="https://firebasestorage.googleapis.com/v0/b/fyzz-1536561400681.appspot.com/o/Bar%2FLa%20Potini%C3%A8re3.jpg?alt=media&token=2d09fccd-d8e6-4471-b0e6-d4f1de4e3c4c">
    </ion-avatar>
    <h2 class="titre-bar">{{ barInfo.Name }}</h2>
    <p class="div1">{{barInfo.Address}}, {{barInfo.City}}</p>
  </ion-item>
</ion-list>

<ion-list *ngIf="!searching" class="list-style">
  <ion-item class="button-bar" color="grey-dark" ion-item *ngFor="let barInfo of arrayQuery" (click)="openBar(barInfo)">
    <ion-avatar item-start >
        <img src="https://firebasestorage.googleapis.com/v0/b/fyzz-1536561400681.appspot.com/o/Bar%2FLa%20Potini%C3%A8re3.jpg?alt=media&token=2d09fccd-d8e6-4471-b0e6-d4f1de4e3c4c">
    </ion-avatar>
    <h2 class="titre-bar">{{barInfo.Name}}</h2>
    <p class="div1">{{barInfo.Address}}, {{barInfo.City}}</p>
  </ion-item>
</ion-list>
-->
  <ion-list *ngIf="searching" class="list-style">
    <button class="button-bar" color="grey-dark" ion-item *ngFor="let barInfo of array2" (click)="openBar(barInfo)">
      <h1 class="titre-bar">{{ barInfo.Name }}</h1>
      <div class="div1">{{barInfo.Address}}, {{barInfo.City}}</div>
    </button>
  </ion-list>

  <ion-list *ngIf="!searching" class="list-style">
    <button class="button-bar" color="grey-dark" ion-item *ngFor="let barInfo of arrayQuery" (click)="openBar(barInfo)">
      <h1 class="titre-bar">{{ barInfo.Name }}</h1>
      <div class="div1">{{barInfo.Address}}, {{barInfo.City}}</div>
    </button>
  </ion-list>
</ion-content>
