page-tutorial {
    :root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
      .swiper-slide {
        display: block;
      }
      ion-slide > h2 {
        margin-top: 2.8rem;
      }
      ion-slide > img {
        height: 220px;
        width: 220px;
        margin: 36px 0;
      }

      .swiper-pagination-bullet {
        background: #f9f9f9;
        opacity: 1;
      }

      .swiper-pagination-bullet-active{
          background: #ffd700;
      opacity: 1;
      }

      .swiper-slide img{
        width: 220px !important;
        height: 220px !important;
        display: inline;
      }

.skipButton{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

h2{
  margin-top: 8% !important;
  font-family: 'Manjari-Thin';
}

p{
  text-align: justify;
  text-align-last: center;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'Manjari-Thin';
  font-size: 85%;
}

.abos{
  text-align: center;
  text-align-last: center;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'Manjari-Thin';
  font-size: 90%;
}

.iosDrinkstype{
  text-align: center;
  text-align-last: center;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'Manjari-Thin';
  font-size: 85%;
}

.pDrink{
  text-align: justify;
  text-align-last: left;
  margin-left: 8%;
  margin-right: 4%;
  font-family: 'Manjari-Thin';
  font-size: 85%;
}

.pAdv{
  text-align: justify;
  text-align-last: center;
  margin-left: 8%;
  margin-right: 8%;
}

.signup{
  margin-bottom: 5%;
  background-color: #ffd700;
  width: 220px;
}
.voirApp{
  width: 220px;
}
.signedup{
  margin-bottom: 5%;
  background-color: green;
  color: white;
  width: 220px;
}

}
