<ion-header>

  <ion-navbar color = "primary">
    <ion-title>{{'RESETPWD.TITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-list inset>
      <ion-item>
        <ion-input formControlName="email" type="email"
        placeholder="{{'RESETPWD.INPUT' | translate}}"
        [class.invalid]="!resetPasswordForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <div class="errorM" *ngIf="!resetPasswordForm.controls.email.valid  && resetPasswordForm.controls.email.touched">
      {{'RESETPWD.INPUTERR' | translate}}
    </div>
  </ion-list>

<div>
  <button class="reini" ion-button block type="submit"
  [disabled]="!resetPasswordForm.valid">
  {{'RESETPWD.BUTTON' | translate}}
</button>
</div>
</form>
</ion-content>
