<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'LSBARRESTOADV.PARTNERS' | translate }}</ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="searchpage">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="setFilteredItems()"
    (ionCancel)="onCancel($event)"
    placeholder="{{ 'LSBARRESTOADV.SEARCH' | translate }}">
  </ion-searchbar>

  <ion-list *ngIf="searching" class="list-style">
    <ion-item *ngFor="let info of array2">
      <ion-avatar item-left (click)="openPage(info.Type, info)">
        <img src="{{ info.Photo }}">
      </ion-avatar>
      <ion-label (click)="openPage(info.Type, info)">
        <h2>{{ info.Name }}</h2>
        <h3>{{ info.City }}</h3>
        <p class="metric">{{info.Metric}}</p>
      </ion-label>
      <ion-badge item-right [ngStyle]="{'background-color': info.Type=='AdvantagePage'? '#f24343' : '#03bfbf'}"> </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!searching" class="list-style">
    <ion-item *ngFor="let info of arrayQuery">
      <ion-avatar item-left (click)="openPage(info.Type, info)">
        <img src="{{ info.Photo }}">
      </ion-avatar>
      <ion-label (click)="openPage(info.Type, info)">
        <h2>{{ info.Name }}</h2>
        <h3>{{ info.City }}</h3>
        <p class="metric">{{info.Metric}}</p>
      </ion-label>
      <ion-badge item-right [ngStyle]="{'background-color': info.Type=='AdvantagePage'? '#f24343' : '#03bfbf'}"> </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
