page-search {

}

// .searchpage {
//   background-color: white !important;
// }
//
// .list-style {
//   background-color: white !important;
// }
//
// ion-item {
//   background-color: white !important;
// }

ion-badge{
  padding-top: 4%;
  // padding-bottom: 3%;
  //border-radius: 17px 17px 17px 17px !important;
}

.metric{
  color: #b7b7b7 !important;
}

ion-avatar img  {
width:75% !important;
height : 75% !important;
max-width: 75px !important;  //any size
max-height: 75px !important; //any size
}
