page-advantage {

    .content{
      background-color: #161f2d;
    }

    .fab_info{
      margin-bottom: 50px;
    }
    .fab_button_info{
      margin-bottom: 20px;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }
    .icon-info{
      font-size: 33px;
    }

    .fab_list{
      padding-bottom: 10px;
    }

    .divImage{
      padding-top: 0 !important;
      display:block;
      width: 100%;
      height: 175px;
    }

    .slideTestA{
      background-color: #161f2d;
    }

    .slideImageA{
      background-color: #161f2d;
    }

    .image-adv{
      background-color: #161f2d;
      width: 100%;
      height: auto;
    }

    .swiper-pagination-bullet {
      background: white;
      opacity: 0.2;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: white;
    }

    .row1{
      padding-bottom: 10px;
    }

    .col12{
      text-align: right;
      //background-color: blue;
    }
    .col13{
      text-align: right;
    //background-color: red;
    }

    .iconWeb{
      font-size: 25px;
      color: white;
    }

    .iconTel{
      padding-top: 7px;
      font-size: 30px;
      color: white;
    }

    .divName{
      font-size: 25px;
    }

    .div1{
      color: #b7b7b7;
      font-size: 15px;
    }


    .rowLink{
      padding-bottom: 10px;
    }
    .fab-fb{
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }
    .fab-fb-icon{
      font-size: 38px;
      color: white;
    }
    .fab-insta{
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }
    .fab-insta-icon{
      font-size: 38px;
      color: white;
    }

    .fab-web{
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }
    .fab-web-icon{
      font-size: 38px;
      color: white;
    }
    

    .row2{
      padding-bottom: 20px;
    }
    .h2{
      font-size: 20px;
    }
    .div2{
      font-size: 15px;
    }


    .row3{
      padding-bottom: 20px;
    }
    .Advan{
      font-size: 20px;
      color: #f24343;
    }
    .div3{
      font-size: 15px;
    }


    .row4{
      padding-bottom: 20px;
    }
    .h4{
      font-size: 20px;
    }


    .row5{
    }

    .col51{
      text-align: center;
    }

    .advAnnonce{
      font-size: 15px;
      color: #f24343;
    }

    .scan-button{
      width: 80%;
      height: 50px;
      color : black;
      background-color: #f24343;
      border-radius: 10px;
    }

    .iconScan{
      color: black;
      font-size: 50px;
    }

    .advSubAct{
      font-size: 15px;
      color: #ffd700;
    }

    .inscritpion-button{
      width: 80%;
      height: 50px;
      color: black;
      background-color: #ffd700;
      //background-color: #ED6F06;
      border-radius: 10px;
    }

    .iconLogin{
      color: black;
      font-size: 35px;
    }

    .paiement-button{
      width: 80%;
      height: 50px;
      color : black;
      background-color: #ffd700;
      //background-color: #ED6F06;
      border-radius: 10px;
    }

    .divSubInactive{
      background-color: red;
      border-radius: 15px;
      height: 40px;
      text-align: center;
      padding-bottom: 40px;
    }

    .subText{
      padding-top: 8px;
      text-align: center;
      font-size: 20px;
    }

    .unSubText{
      font-size: 15px;
      color: red;
    }

    ion-header button, .backButton{
      z-index: 1;
    }

}
