page-liste-restaurant {

  .content{
    background-color: #161f2d;
  }

  .list-style{
    background-color: rgba(0,0,0,0);
  }

  .button-bar{
    background-color: rgba(0,0,0,0);
    align-items:flex-end;
    height: 85px;
  }

  .titre-restaurant{
    font-size: 20px;
  }

  .div1{
    color:#b7b7b7;
  }

  ion-header button, .backButton{
    z-index: 1;
  }

}
