<ion-header>
  <ion-navbar color="primary">
    <ion-title>RESTAURANTS</ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="setFilteredItems()"
    (ionCancel)="onCancel($event)"
    placeholder="{{ 'LSBARRESTOADV.SEARCH' | translate }}">
  </ion-searchbar>
  
  <ion-list *ngIf="searching" class="list-style">
    <button class="button-bar" color="grey-dark" ion-item *ngFor="let restoInfo of array2" (click)="openRestaurant(restoInfo)">
      <h1 class="titre-restaurant"> {{restoInfo.Name}} </h1>
      <div class="div1">{{restoInfo.Address}}, {{restoInfo.City}}</div>
    </button>
  </ion-list>

  <ion-list *ngIf="!searching" class="list-style">
    <button class="button-bar" color="grey-dark" ion-item *ngFor="let restoInfo of arrayQuery" (click)="openRestaurant(restoInfo)">
      <h1 class="titre-restaurant"> {{restoInfo.Name}} </h1>
      <div class="div1">{{restoInfo.Address}}, {{restoInfo.City}}</div>
    </button>
  </ion-list>
</ion-content>
