<ion-header>
  <ion-navbar color="primary">
    <ion-title>AVANTAGES</ion-title>
    <ion-buttons name="settings" right>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="setFilteredItems()"
    (ionCancel)="onCancel($event)"
    placeholder="{{ 'LSBARRESTOADV.SEARCH' | translate }}">
  </ion-searchbar>

    <ion-list *ngIf="searching" class="list-style">
      <button class="button-bar" color="grey-dark" ion-item *ngFor="let advantageInfo of array2" (click)="openAdvantage(advantageInfo)">
        <h1 class="titre-bar">{{ advantageInfo.Name }}</h1>
        <div class="div1">{{advantageInfo.Address}}, {{advantageInfo.City}}</div>
      </button>
    </ion-list>

    <ion-list *ngIf="!searching" class="list-style">
      <button class="button-bar" color="grey-dark" ion-item *ngFor="let advantageInfo of arrayQuery" (click)="openAdvantage(advantageInfo)">
        <h1 class="titre-bar">{{ advantageInfo.Name }}</h1>
        <div class="div1">{{advantageInfo.Address}}, {{advantageInfo.City}}</div>
      </button>
    </ion-list>
</ion-content>
