page-events {

}

.eventpage {
  background-color: white !important;
}

.event {
  border-radius: 30px;
}

.card-md p{
  color: white;
}
.card-ios p{
  color: white;
}

ion-card.event{
  background-color: black;
  display: block;
}

.eventCardTitle{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Manjari-Thin';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.promotion{
  font-size: 15px;
  font-weight: bold;
  font-family: 'Manjari-Thin';
  color: red;
}

img{
  display: block;
}
